@font-face {
	font-family: 'Quicksand var';
	src: url(quicksand-var.ttf);
}

 @font-face {
	font-family: "quicksand";
	src: url(quicksand.ttf);
}

:root {
	--vp-font-family-base: 'Quicksand var', "quicksand", ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Helvetica, Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
} 